{{!-- <div class="container" style="padding-top:60px"> --}}
  <div class="row">
    <section class="main col-md-9">
      <article>
        <h2>About</h2>
        <p>I'm currently studying computer programming at seneca, my course ends in December 2022. I took Ten films that
          changed the world , psychology and Intro to film studies as my gen ed courses</p>
        <p>I love watching movies , playing guitar, meditating and exploring different places.</p>
        <p> In nut shell I'm ambivert by nature.</p>
        <p> I'm all Bored with online classes how about u? <br>
          Arghhhh my brain just Can't take it anymoreeeeeee 😩
        </p>
        
      </article>
    </section>
    <aside class="col-md-3">
      <h2>Coming Soon!</h2>
      <p>Some really interesting content, stay tuned😉</p>
    </aside>
  </div>
{{!-- </div> --}}